<section class="hero-section wow fadeIn">
	<div class="container">
		<div class="hero text-center">
			<p class="hero-text-md">Делаем сайты</p>
			<p class="hero-text-lg">на базе <span class="no-wrap">1С-Битрикс</span></p>
			<p class="hero-text-sm mb20">и они приносят доход!</p>
		</div>
		<form class="form form-hero text-center" action="">
			<div class="form-inner">
				<p class="form-text">Возникли вопросы? Проконсультируем!</p>
				<div class="form-row">
					<div class="form-col-12">
						<input type="text" class="form-control j-name" name="userName" placeholder="Ваше имя" required="required">
					</div>
					<div class="form-col-12">
						<input type="tel" class="form-control j-tel" name="userTel" placeholder="Телефон" required="required">
					</div>
				</div>
			</div>
			<div class="text-center">
				<button type="button" class="btn j-submit">Отправить</button>
			</div>
		</form>
	</div>
</section><!-- /hero -->