<section class="mb45 wow fadeInUp">
	<div class="expand-container text-center">
		<h2 class="h2 mb0">Нужен сайт на 1С-Битрикс?</h2>
		<p class="text-gray mb35">Заполните форму и получите расчет в течение часа</p>
		<form action="" class="form form-orange">
			<div class="form-row">
				<div class="form-col-9">
					<input type="text" class="form-control j-name" name="userName" placeholder="Ваше имя" required="required">
				</div>
				<div class="form-col-9">
					<input type="tel" class="form-control j-tel" name="userTel" placeholder="Телефон" required="required">
				</div>
				<div class="form-col-6">
					<button type="button" class="btn btn-block j-submit">Отправить</button>
				</div>
			</div>
		</form>
	</div>
</section><!-- /form -->
